<h1>all_products: acceso por handle</h1>
<p>{{ all_products['camisa-suave-a'].title }}</p>
<p>{{ all_products['camisa-suave-b'].precio }}</p>

<h1>collections: acceso por handle</h1>
<p>{{ collections['soft-shirts'].title }}</p>

<h1>collections['soft-shirts'].products:</h1>
<ul>
  {% for producto in collections['soft-shirts'].products %}
    <li>{{ producto.title }} – {{ producto.precio }}</li>
  {% endfor %}
</ul>

<h1>Accesos inexistentes:</h1>
<p>{{ all_products['no-existe'].title }}</p>
<p>{{ collections['fantasma'].products }}</p>
